HOST_IP=HOST_IP

MQTT_HOST=MQTT_HOST_IP
MQTT_USER=frigate
MQTT_PASSWORD=MQTT_PASSWORD

FRIGATE_MODEL_PATH=plus://MODEL_KEY

CAM_USER=admin
CAM_PASSWORD=CAMERA_PASSWORD

# Camera IPs
DOORBELL_IP=DOORBELL_IP
AMCREST_IP=AMCREST_FRONT_IP
KITCHEN_CAM_IP= KITCHEN_CAM_IP
